.heading{
    display: flex;
    padding: 20px;
}
.logo {
    flex: 1;
    display: inline-block;
    margin: 0px;
}
.navoptions {
    margin-right: 20px;

}

.navoptions li{
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}
.navoptions li a {
    text-decoration: none;
}
.landing {
    position: relative;
}
.landing img {
    width: 100%;
    max-height: 300px;
}
.landing h2 {
    position: absolute;
    margin-bottom: 4px;
    bottom: 0;
    right: 0;
    background-color: aqua;
}
.content h3{
    display: inline-block;
    min-width: 15%;
    max-width: 15%;
    border: 0;
    border-right: 5px;
    border-style: solid;
    border-color: black;
}
.content p{
    display: inline-block;
}
.aboutMe{

}

.work{
    display: flex;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    height: 600px;
    margin-bottom: 50px;
}
.container #lrgImg {
    width: 82.5%;
    max-height: 25%;
    margin: 25px;
    border: 10px;
    border: solid;
    border-color: blue;
}
.container #galImg {
    height: 30%;
    width: 40%;
    border: 10px;
    margin: 10px;
    border: solid;
    border-color: blue; 
}
.resume {

}
.footing h3 {
    display: inline-block;
    width: 15%;
    border: 0px;

    border-style: solid;
    border-color: black;
}
.footing ul{
    padding: 0;
    display: inline-block;
    width: 84%;
}
.footing li{
    display: inline-block;
    text-align: center;
    width: 24%;
}